[submodule "submodules/moa-profiler"]
	path = submodules/moa-profiler
	url = https://github.com/pfizer-opensource/moa-profiler.git
[submodule "submodules/cellpaintssl"]
	path = submodules/cellpaintssl
	url = https://github.com/Bayer-Group/CellPaintSSL.git
